<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>React Chat</title>
  <meta name="description" content="A chat app to learn React">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#styles}}
    <link rel="stylesheet" href="{{this}}">
  {{/styles}}
</head>
<body>
  {{{content}}}
  {{#scripts}}
    <script src="{{this}}"></script>
  {{/scripts}}
</body>
</html>